h1 {
    padding: 50px 0px;
    text-align: center;
    background-color: #efefef;
    color: #333;
    margin-bottom: 50px;
}

.banner.newsBanner img {
    object-position: 50% 30%;
}

.container {
    text-align: center;
}

.blankBanner {
    height: 60px;
    width: 100%;
}

.newsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.newsList .split {
    width: calc(100% - 250px);
    height: 0.5px;
    background-color: lightgray;
    margin: 0 auto;
}

.content .addNews {
    margin: 30px 50px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    cursor: pointer;
}

.content .addNews:hover {
    background-color: #f0f0f0;
}

.content .addNews>img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1000px) {
    .newsList .split {
        width: calc(100% - 100px);
    }

    .content .addNews {
        margin: 30px 30px;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 768px) {
    .newsList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .newsList .split {
        display: none;
    }

    .content .addNews {
        width: calc(300px - 8vw);
        margin: 30px 20px;
        padding: 20px 20px;
        height: auto;
        border: gray solid 1px;
    }

    .content .addNews:hover {
        background-color: white;
    }
}