.loginBox {
    max-width: 300px;
    width: 70%;
    color: #000000;
    background-color: #e2e8f0;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}