h1 {
    padding: 50px 0px;
	text-align: center;
	background-color: #efefef;
    color: #333;
    margin-bottom: 50px;
}

.container {
    text-align: center;
}

.blankBanner {
    height: 60px;
    width: 100%;
}

.newsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.newsList .split {
    width: calc(100% - 250px);
    height: 0.5px;
    background-color: lightgray;
    margin: 0 auto;
}

.content .addNews {
    padding: 30px;
    border: 1.5px solid #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    height: 100px;
}

.content .addNews:hover {
    background-color: #f0f0f0;
}

.content .addNews > img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1000px) {
    .newsList .split {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 768px) {
    .newsList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .newsList .split {
        display: none;
    }
}