.newsItem {
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
    gap: 40px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.newsItem:hover {
    background-color: #efefef;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.newsImg {
    object-fit: contain;
    width: 300px;
    height: 200px;
    flex-shrink: 2;
}

.editNewsImgButton:hover {
    cursor: pointer;
}

.newsInfo {
    margin-right: auto;
    text-align: left;
    flex-shrink: 3;
    align-self: stretch;
    width: 1000px;
}

.newsTitle {
    font-size: calc(15px + 0.4vw);
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    padding: 5px;
    max-width: 100%;
}

.newsContent {
    font-size: calc(10px + 0.4vw);
    color: #666;
    display: block;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.date {
    flex-shrink: 0;
    font-size: calc(9px + 0.4vw);
    color: #666;
}

.langContainer {
    display: flex;
    gap: 10px;
    height: 100px;
    /* width: 80%; */
    margin: 0px auto;
}

.choice {
    display: flex;
}

.choice input {
    margin: 0px 5px;
    width: 20px;
}

.choice label {
    display: flex;
    align-items: center;
}

.deleteButton,
.saveButton,
.cancelButton {
    padding: 2px 15px;
    border: 1px solid #000;
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0 10px 30px 10px;
}

@media screen and (max-width: 1000px) {
    .newsItem {
        margin: 30px 30px;
        padding: 20px 40px;
        gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .newsItem {
        width: calc(300px - 8vw);
        flex-direction: column;
        margin: 30px 20px;
        padding: 20px 20px;
        gap: 20px;
    }

    .newsImg {
        width: calc(300px - 15vw);
        height: auto;
    }

    .newsInfo {
        margin: 0;
        align-self: center;
        width: calc(300px - 15vw);
        /* max-width: 100%; */
    }

    .langContainer {
        height: 120px;
        flex-direction: column;
        justify-content: center;
    }
}