.loginBox {
    max-width: 300px;
    width: 70%;
    height: 400px;
    color: #000000;
    /* border: 2px solid #6FBA2C; */
    background-color: #dcdfe2;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
}

.userName,
.userPwd {
    /* border: 2px #6FBA2C solid; */
    border-radius: 8px;
    padding: 0 12px;
    width: 80%;
    font-size: 0.9rem;
    height: 2rem;
    box-sizing:border-box;
    margin: 15px auto;
    /* outline: none; */
}

/* .userName:focus,
.userPwd:focus {
    border: 2px #49900b solid;
} */


.loginBtn {
    margin: 30px auto 15px auto;
    width: 80%;
    height: 2rem;
    /* border: 2px #6FBA2C solid; */
    border-radius: 10px;
    text-align: center;
    line-height: 2rem;
    /* background: #d7ebc6; */
    background-color: #2e2e2e;
    cursor: pointer;
    /* color: #000000; */
    color: #ffffff;
}

.loginBtn:active {
    /* background-color: #a2cad3; */
    background-color: #c0dda6;
    line-height: calc(2rem + 2.5px);
}