h1 {
    padding: 50px 0px;
	text-align: center;
	background-color: #efefef;
    color: #333;
    margin-bottom: 50px;
}

.blankBanner {
    height: 60px;
    width: 100%;
}

.fastContact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* gap: 20%; */
    row-gap: 50px;
    width: 80%;
    margin: 0px auto 50px auto;
}

.contactSales,
.contactService {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contactSales > h2,
.contactService > h2,
.contactOthers > h2 {
    text-align: center;
}

.contactOthers > h2 {
    margin-bottom: 30px;
}

.contactBtn {
    background-color: #6FBA2C;
    color: white;
    padding: 10px 20px;
    /* border-radius: 5px; */
    text-align: center;
    display: block;
    margin: 10px;
    width: 150px;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
}

.contactBtn:hover {
    background-color: #5e9c28;
    transition: all 0.2s ease-in-out;
    transition: padding 0s;
}

.contactBtn:active {
    padding-top: 12px;
    padding-bottom: 8px;
    transition: none;
}

.businessCardTable {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    row-gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.businessCard {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    width: 450px;
    min-height: 250px;
    padding: 0px calc(30px + 3%);
    font-size: calc(12px + 0.2vw);
    background: linear-gradient(to bottom right, transparent 85%, #6FBA2C 15%) top left;
    background-size: 110%;
}

.businessCard:hover {
    transform: skew(2deg, -2deg);
    transition: all 0.2s ease-in-out;
    scale: 1.03;
    box-shadow: 7px 7px 10px 5px rgba(0, 0, 0, 0.3);
    background-position: right;
}

@media screen and (max-width: 800px) {
    .fastContact .businessCard {
        max-width: 75vw;
    }
}
