td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.container {
    margin: 0 auto 0 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerBox {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin: 0px auto;
}

.circleBorder {
    width: 50px;
    height: 50px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63, 249, 220);
    background: linear-gradient(0deg, #6FBA2C1A 33%, #6FBA2C 100%);
    animation: spin .8s linear 0s infinite;
}

.circleCore {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}

.productContent {
    width: 70%;
    padding-left: 80px;
    padding-top: 0px;
    text-align: left;
}

.productContent>img {
    display: block;
    width: auto;
    height: auto;
    max-height: 300px;
    margin: 2% 0px 5% 0px;
}

.productContent>p {
    text-align: left;
    margin-bottom: 20px;
    font-size: calc(11px + 0.3vw);
}

.adminButtons {
    display: flex;
    gap: 5%;
    margin-left: 80px;
    width: 100%;
}

.add,
.cancel,
.delete,
.save,
.edit {
    padding: 2px 15px;
    border: 1px solid #000;
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.add:active,
.cancel:active,
.delete:active,
.save:active,
.edit:active {
    background-color: #d7d7d7;
    padding-top: 3px;
    padding-bottom: 1px;
}

@media screen and (max-width: 700px) {
    .container {
        margin: 0 auto;
    }

    .productContent {
        width: 100%;
        padding-left: 0px;
    }

    .productContent>img {
        max-height: 200px;
    }

    .adminButtons {
        margin-left: 0px;
    }
}